@{
    ViewData["Title"] = "TimesTable";
}

<div class="text-center">
    <h1 class="display-20">TimesTable</h1>
</div>

<div>
    <form asp-controller="Calc" asp-action="TimesT" method="POST">
    <input type="number" placeholder="number" name="i">
    <button type="submit">submit</button>
    </form>
</div>

@{
    if(ViewBag.result != null)
    {
        <div>
            @for(int a = 1; a < 13; a++)
            {
                <p>@ViewBag.result * @a = @(ViewBag.result * a)</p>
            }
        </div>
    }
}